*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#mywebsite{
    font-family: Arial, Helvetica, sans-serif;
}

#landing{
    background-image: url(../img/landing-img.jpg);
    color:white;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 00px 0px 300px 1px lightgrey;
}

#landing h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 300px;
    text-shadow: 2px 2px 1px black;
}

#landing p{
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    text-shadow: 2px 2px 1px black;
}

#blog{
    height: 100vh;
    margin-left: 150px;
}

#blog h2{
    padding-top: 15vh;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10vh;
    margin-right: 150px;
}

img{
    width: 300px;
    height: 170px;
}

div{
    width: 300px;
    height: 350px;
    display: inline-block;
    box-shadow: 0px 1px 1px 1px lightgray;
    border-radius: 10px;
    margin-right: 10px;
}

div h3{
    padding: 15px;
    font-weight: bold;
}

div p{
    padding: 15px;
    font-size: 14px;
    text-align: justify;
    padding-top: 0px;
}

div a{
    font-size: 14px;
    padding: 15px;
    text-decoration: none;
    color: gray;
    padding-bottom: 10px;
}

div a:hover{
    color: orangered;
}

div[title="Featured Post"] { 
    width: 300px;
    height: 350px;
    display: inline-block;
    border-radius: 10px; 
    margin-right: 10px;
    background-color:rgba(27,27,27,255);
    border: 1px solid rgba(27,27,27,255);
}

div[title="Featured Post"] h3{
    color: white;
}

div[title="Featured Post"] p{
    color: white;
}

div[title="Featured Post"] a{
    color: white;
}

div[title="Featured Post"] a:hover{
    color: orangered;
}

#services{
    background-color: whitesmoke;
    height: 50vh;
    color: black;
}

#services h2{
    padding-top: 15vh;
    text-align: center;
    font-size: 35px;
    margin-bottom: 5vh;
}

ul{
    margin-top: 20px;
    text-align: center;
}

li{
    background-color: white;
    display: inline-block;
    height: 80px;
    width: 200px;
    margin-right: 30px;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

li:first-child{
    background-color: orangered;
    color: black;
}

li:hover{
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}